* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* Root Variables */
:root {
  --heading-poppins: 'Poppins', sans-serif;
  --latoRegular: 'Lato', sans-serif;
}
a {
  font-family: var(--latoRegular);
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
/* Header */
header {
  border-bottom: 1px solid #4d5b771f;
  box-shadow: 0 5px 6px -3px #11111117;
  padding: 20px;
}
/* Main Logo */
.brand-logo {
  width: 78%;
  display: inline-block;
}
.brand-logo img {
  width: 180px;
}
.brand-logo img:hover {
  opacity: 0.8;
}
.brand-logo a {
  text-align: none;
  font-size: 12px;
  color: #85abda;
}
/*Nav links*/
nav ul {
  list-style: none;
  display: none;
}
.nav-linkshow {
  display: block;
}
nav ul li {
  display: block;
  padding: 10px 10px 10px 0px;
}
nav ul li a {
  font-family: var(--latoRegular);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #85abda;
}
nav ul li a:hover {
  opacity: 0.8;
}
/* Svg */
.nav-bar {
  width: 20%;
  display: inline-block;
  text-align: right;
}
.nav-bar svg {
  width: 36px;
  height: 36px;
  fill: #0167af;
  cursor: pointer;
}
.nav-bar svg:hover {
  opacity: 0.8;
}

/* Banner */
#hero-banner {
  position: relative;
  height: 100vh;
}
.hero-wrapper {
  height: 100vh;
  background: linear-gradient(90deg, rgb(0 105 173 / 80%), rgb(0 105 173 / 80%)),
    url("../images/header-bg.png") no-repeat center center/cover;
  padding: 20px 0px;
}
.hero-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-container img {
  width: 200px;
  height: 200px;
}
.hero-container h1 {
  font-family: var(--heading-poppins);
  font-size: 30px;
  color: #fff;
  line-height: 1.4;
  margin-top: -26px;
}
.hero-container p {
  font-family: var(--latoRegular);
  font-size: 17px;
  color: #fff;
}
.hero-container .hero-social-icons {
  margin: 20px 0px 10px;
}
.hero-container .hero-social-icon a {
  text-decoration: none;
}
/* Header Svg */
.hero-container .hero-social-icons svg {
  background-color: #fff;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;
}

/* Github SVG */
.hero-container .hero-social-icons .header-github {
  fill: #1b1e23;
}
.hero-container .hero-social-icons .header-github:hover {
  background-color: #1b1e23;
  fill: #fff;
  transition: 0.3s all ease-in-out;
}
/* Linkden SVG */
.hero-container .hero-social-icons .header-linkden {
  fill: #0077b4;
}
.hero-container .hero-social-icons .header-linkden:hover {
  background-color: #0077b4;
  fill: #fff;
  transition: 0.3s all ease-in-out;
}

/* Notes Project Section */
#card-01 {
  background-color: #e0eefb;
  padding: 4rem 0px;
}
.card {
  background-color: #fff;
  width: 290px;
  display: inline-block;
  padding: 20px;
  margin: 20px 14px 40px 14px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px #0000001a;
}
.img-container {
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

main h1 {
    font-family: var(--heading-poppins);
    font-size: 2rem;
    text-transform: capitalize;
    margin-left: 20px;
    padding: 40px 0px;
}
.card svg {
  width: 160px;
  height: 160px;
}
.card h2 {
  font-family: var(--latoRegular);
  font-size: 30px;
  margin: 20px 0px 30px;
}
.card a {
  background-color: #f4f5f9;
  width: 215px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 8px 8px;
  border-radius: 5px;
}
.card a:hover {
  opacity: 0.8;
}
/* Projects */
.projects-section {
  background-color: #f1f1f1;
}
.projects-section .img-container {
  background-color: #172542;
}
.projects-section a {
  background-color: #172542;
  color: #fff;
}

/* Notes Section */
.notes-section {
  background-color: #172542;
  color: #fff;
}
.notes-section a {
  font-weight: 600;
  color: #172542;
}

/* Footer */
footer {
  background-color: #17202a;
  padding: 15px 0px;
}
footer p {
  font-family: var(--latoRegular);
  font-size: 18px;
  text-align: center;
  color: #fff;
}
/* Reponsive Code */

/* For above 550px */
@media only screen and (min-width: 550px) {
  #card-01 {
    display: flex;
  }
  .card {
    width: 350px;
    margin: 20px 10px 40px;
  }

}

/* For above Tablets */
@media only screen and (min-width: 769px) {
  /* Nav */
  nav {
    float: right;
  }
  nav ul {
    display: block;
  }
  nav ul li {
    display: inline-block;
  }
  /* SVG */
  .nav-bar {
    display: none;
  }
  /* Logo */
  .brand-logo {
    width: 65%;
    margin-top: 8px;
    float: left;
  }
  header::after {
    content: "";
    display: block;
    clear: both;
  }
  /* Banner */
  .hero-container h1 {
    font-size: 40px;
  }
  .hero-container p {
    font-size: 20px;
  }
  .hero-container .hero-social-icons svg {
    width: 50px;
    height: 50px;
  }
  /* Github btn */
  .github-wrap {
    margin: 30px 0px 20px;
  }
  .github-btn {
    font-size: 18px;
    padding: 10px 43px;
  }
  /* Notes Project Section */
  #card-01 {
    display: flex;
    justify-content: center;
    padding: 3rem 0px;
  }
  .card {
    width: 320px;
    margin: 20px;
  }
}

@media only screen and (min-width: 320px) {
  #card-01 {
    text-align: center;
  }
  .card h2 {
    text-align: left;
  }
}